package shared

import "github.com/dhinogz/spotify-test/components/icons"

templ Footer() {
	<footer class="footer items-center gap-2 p-4 bg-base-100">
		<aside class="items-center grid-flow-col">
			@icons.App()
			<p>Copyright © 2024 - David Hinojosa</p>
		</aside>
	</footer>
}
