package shared

import "github.com/dhinogz/discover-friendly/internal/ui/icons"

templ Footer() {
	<footer class="footer items-center gap-2 p-4 bg-base-100">
		<aside class="items-center grid-flow-col">
			<a href="https://github.com/dhinogz/discover-friendly">
				@icons.Github()
			</a>
			<p>Copyright © 2024 - David Hinojosa</p>
		</aside>
	</footer>
}
